In [1]:
import pandas as pd

import gensim
from gensim.summarization import summarize

In [2]:
df_raw = pd.read_csv('../Data/review.csv')

In [3]:
df_raw.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11

In [4]:
business_id = 'ZBE-H_aUlicix_9vUGQPIQ'

In [5]:
df = df_raw[df_raw['business_id'] == business_id]

In [6]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25
7,ZmhG5ZL-_WJqami8LnQmHQ,2xLBFCtjaREAPUE2KBpA0g,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,"Nice atmosphere, plenty of TV's. Priced afford...",2016-05-07 03:02:11
21,9UlPItpPo1XWYp73Pq7cdg,s6ArzWxkfV7uRURej7AoQA,ZBE-H_aUlicix_9vUGQPIQ,3.0,0,0,0,The location at WT Harris and Statesville Road...,2012-07-16 17:35:10
77,v8dYMrl50FFjAiOuVNEK6A,deVz7CbX6fUp12x690FQNw,ZBE-H_aUlicix_9vUGQPIQ,3.0,0,0,0,I went to this location to eat one evening. T...,2012-01-04 18:32:59
157,-LpWAreS5Esp6_yrxXDjNg,ZB5IDns20frfEJGUW1h6VQ,ZBE-H_aUlicix_9vUGQPIQ,4.0,0,1,0,This edition of Excited about Eating takes us ...,2016-01-18 21:26:24

## Builduing the corpus of reviews

In [7]:
corpus = ""
for i in df.iterrows():
    corpus = corpus+ '\n' + (i[1]['text'])

## Using Gensim

In [ ]:
summary_by_ratio=summarize(corpus,ratio=0.005)

In [9]:
print(summary_by_ratio)

This sports bar chain restaurant offers a wide variety of menu items from chicken wings to crab legs and steak, although they streamlined their menu since our last visit.
This place was alright, my buddy and I went looking for a good meal and a couple beers and found an ok meal w/ nothing special behind the bar.
To ease things on the restaurant, I called the Hickory Tavern Northlake about a week before and let them know I would have a big group of at least 25 people arriving shortly after 9:30PM on Friday, April 26.
Then it came time to order our food; I ordered boneless WINGS, one other a burger and the other a salad.

## Summarization using sumy

In [10]:
import sumy

In [14]:
from sumy.parsers.plaintext import PlaintextParser
from sumy.nlp.tokenizers import Tokenizer
from sumy.summarizers.lex_rank import LexRankSummarizer

my_parser = PlaintextParser.from_string(corpus,Tokenizer('english'))

In [15]:
lex_rank_summarizer = LexRankSummarizer()
lexrank_summary = lex_rank_summarizer(my_parser.document,sentences_count=10)

In [16]:
for sentence in lexrank_summary:
    print(sentence)

What a Great time we all had.
It was my first time there and the atmosphere was really nice.
The food was great.
I tried the tenders, but it just wasn't good so I sent it back and got a burger.
Food is great and service is very good.
The food was a 2.
We also had great service.
It took a while to get our food, but it was 8pm on a Saturday night and the place was packed.
With that said they have a diverse menu and their food is really good for a sports bar.
The food is good and the service is decent.