In [46]:
import pandas as pd
import spacy

In [2]:
import time

In [3]:
df_raw = pd.read_csv('../Data/review.csv')

In [4]:
df_raw.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11

## Tokenization using split

In [5]:
df = df_raw.copy()

In [6]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: x.split())
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  0.29001903533935547

In [7]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[We, had, my, Mother's, Birthday, Party, here,..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[Good, Korean, grill, near, Eaton, Centre., Th..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[Was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[Ambience:, Would, not, expect, something, thi..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[Absolutely, the, WORST, pool, company, that, ..."

In [8]:
df.to_csv('../Results/Tokenize_split.csv', index=False)

## Regex

In [9]:
import re

In [10]:
df = df_raw.copy()

In [11]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: re.findall("[\w']+", x))
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  0.5477030277252197

In [12]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[We, had, my, Mother's, Birthday, Party, here,..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[Good, Korean, grill, near, Eaton, Centre, The..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[Was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[Ambience, Would, not, expect, something, this..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[Absolutely, the, WORST, pool, company, that, ..."

In [13]:
df.to_csv('../Results/Tokenize_regex.csv', index=False)

## NLTK

In [20]:
from nltk.tokenize import word_tokenize 
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/jay/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [21]:
df = df_raw.copy()

In [22]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: word_tokenize(x))
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  17.022397994995117

In [23]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[We, had, my, Mother, 's, Birthday, Party, her..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[Good, Korean, grill, near, Eaton, Centre, ., ..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[Was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[Ambience, :, Would, not, expect, something, t..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[Absolutely, the, WORST, pool, company, that, ..."

In [24]:
df.to_csv('../Results/Tokenize_nltk.csv', index=False)

# POS Tagging

In [30]:
sample_df = df.sample(n = 5, random_state=1)
sample_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
7537,6Q4QDM0K_AIlX6w7jPo61g,SsbfgJ-lUhHc3lN1NrPavQ,AT5NZHqoLeP4rhWMM2OWBA,3.0,0,0,0,Love this place! Pizza is awesome! Wish th...,2018-06-22 01:16:36,"[Love, this, place, !, Pizza, is, awesome, !, ..."
4558,_kY2RF2iLprkVpLAQK1d2w,Opkt4zA7HcRxTdQPC0Ey7g,NdpvGGF4cLrdnA6ydSZz3g,5.0,0,0,0,Amazing restaurant that I ever been. The meat ...,2017-01-13 05:51:43,"[Amazing, restaurant, that, I, ever, been, ., ..."
6636,KG9xyGuOFHGcpNNAPOqF7A,tOdJethFY2mgwwwmDjYrkQ,cOY6ipigtTXdcmmmiFiniA,3.0,1,0,0,Perk-Cup is definitely a convenient spot to dr...,2016-03-24 11:01:57,"[Perk-Cup, is, definitely, a, convenient, spot..."
9707,QsMM-vF3vLDb6Z1jTfokiA,xEpaUH5WYB-sEuWtAcTBRw,suJ-eo5Gkvcg0iXVQw4RyA,5.0,1,0,0,Grade A+ times 10. Staff was one of the best i...,2012-03-07 03:55:49,"[Grade, A+, times, 10, ., Staff, was, one, of,..."
4015,5nrFh8zwCBluHAbpTmiXaw,Q0CkxRm-1UixyY6Gc9ZWqA,Rii85bzYKGC9P0zOyAem6A,1.0,0,0,0,So very disappointed in Texas Roadhouse today....,2018-05-13 20:40:51,"[So, very, disappointed, in, Texas, Roadhouse,..."

In [ ]:
nltk.download('averaged_perceptron_tagger')

In [42]:
texts = sample_df["text"]
tokens = sample_df["Tokenized words"]

## NLTK

In [43]:
# NLTK
for i in range(5):
    text = texts.iloc[i]
    pos_tag = nltk.pos_tag(tokens.iloc[i])
    
    print(text)
    print(pos_tag)
    print("----")

Love this place!  Pizza is awesome!    Wish they could provide the Ass Clown "Orange Citrus" beer on a regular basis that is on their menu.  Great local beer!   The last times we visited it was not available.
[('Love', 'VB'), ('this', 'DT'), ('place', 'NN'), ('!', '.'), ('Pizza', 'NNP'), ('is', 'VBZ'), ('awesome', 'JJ'), ('!', '.'), ('Wish', 'JJ'), ('they', 'PRP'), ('could', 'MD'), ('provide', 'VB'), ('the', 'DT'), ('Ass', 'NNP'), ('Clown', 'NNP'), ('``', '``'), ('Orange', 'NNP'), ('Citrus', 'NNP'), ("''", "''"), ('beer', 'NN'), ('on', 'IN'), ('a', 'DT'), ('regular', 'JJ'), ('basis', 'NN'), ('that', 'WDT'), ('is', 'VBZ'), ('on', 'IN'), ('their', 'PRP$'), ('menu', 'NN'), ('.', '.'), ('Great', 'NNP'), ('local', 'JJ'), ('beer', 'NN'), ('!', '.'), ('The', 'DT'), ('last', 'JJ'), ('times', 'NNS'), ('we', 'PRP'), ('visited', 'VBD'), ('it', 'PRP'), ('was', 'VBD'), ('not', 'RB'), ('available', 'JJ'), ('.', '.')]
----
Amazing restaurant that I ever been. The meat and the vegetables are really fresh. The service was really nice and patient since this is the first time I went there and he introduced so many good stuffs. The watermelon juice surprise me, it's soooooo good. The meat quality is good and the service is quick, they have a wide selection of the food. I was also very  impressed with the service, he checking on us often. I would like to go to this place again and again and I really love it!!
[('Amazing', 'VBG'), ('restaurant', 'NN'), ('that', 'IN'), ('I', 'PRP'), ('ever', 'RB'), ('been', 'VBN'), ('.', '.'), ('The', 'DT'), ('meat', 'NN'), ('and', 'CC'), ('the', 'DT'), ('vegetables', 'NNS'), ('are', 'VBP'), ('really', 'RB'), ('fresh', 'JJ'), ('.', '.'), ('The', 'DT'), ('service', 'NN'), ('was', 'VBD'), ('really', 'RB'), ('nice', 'JJ'), ('and', 'CC'), ('patient', 'JJ'), ('since', 'IN'), ('this', 'DT'), ('is', 'VBZ'), ('the', 'DT'), ('first', 'JJ'), ('time', 'NN'), ('I', 'PRP'), ('went', 'VBD'), ('there', 'RB'), ('and', 'CC'), ('he', 'PRP'), ('introduced', 'VBD'), ('so', 'RB'), ('many', 'JJ'), ('good', 'JJ'), ('stuffs', 'NNS'), ('.', '.'), ('The', 'DT'), ('watermelon', 'NN'), ('juice', 'NN'), ('surprise', 'NN'), ('me', 'PRP'), (',', ','), ('it', 'PRP'), ("'s", 'VBZ'), ('soooooo', 'JJ'), ('good', 'JJ'), ('.', '.'), ('The', 'DT'), ('meat', 'NN'), ('quality', 'NN'), ('is', 'VBZ'), ('good', 'JJ'), ('and', 'CC'), ('the', 'DT'), ('service', 'NN'), ('is', 'VBZ'), ('quick', 'JJ'), (',', ','), ('they', 'PRP'), ('have', 'VBP'), ('a', 'DT'), ('wide', 'JJ'), ('selection', 'NN'), ('of', 'IN'), ('the', 'DT'), ('food', 'NN'), ('.', '.'), ('I', 'PRP'), ('was', 'VBD'), ('also', 'RB'), ('very', 'RB'), ('impressed', 'JJ'), ('with', 'IN'), ('the', 'DT'), ('service', 'NN'), (',', ','), ('he', 'PRP'), ('checking', 'VBG'), ('on', 'IN'), ('us', 'PRP'), ('often', 'RB'), ('.', '.'), ('I', 'PRP'), ('would', 'MD'), ('like', 'VB'), ('to', 'TO'), ('go', 'VB'), ('to', 'TO'), ('this', 'DT'), ('place', 'NN'), ('again', 'RB'), ('and', 'CC'), ('again', 'RB'), ('and', 'CC'), ('I', 'PRP'), ('really', 'RB'), ('love', 'VB'), ('it', 'PRP'), ('!', '.'), ('!', '.')]
----
Perk-Cup is definitely a convenient spot to drop by if you want something different or healthy without getting out of your car. However, I didn't have the best experience. I ordered my food in advance and arrived when they told me my food would be ready. When I first arrived at the drive up, I was food was still being prepared- that's fine; I didn't mind waiting a few minutes. I ended up waiting 10+ minutes at the window. Because or the issue, I was given a free cookie.

All of this to say, the food isn't bad but I wouldn't bet on your food being ready when you get there!
[('Perk-Cup', 'NNP'), ('is', 'VBZ'), ('definitely', 'RB'), ('a', 'DT'), ('convenient', 'NN'), ('spot', 'NN'), ('to', 'TO'), ('drop', 'VB'), ('by', 'IN'), ('if', 'IN'), ('you', 'PRP'), ('want', 'VBP'), ('something', 'NN'), ('different', 'JJ'), ('or', 'CC'), ('healthy', 'JJ'), ('without', 'IN'), ('getting', 'VBG'), ('out', 'IN'), ('of', 'IN'), ('your', 'PRP$'), ('car', 'NN'), ('.', '.'), ('However', 'RB'), (',', ','), ('I', 'PRP'), ('did', 'VBD'), ("n't", 'RB'), ('have', 'VB'), ('the', 'DT'), ('best', 'JJS'), ('experience', 'NN'), ('.', '.'), ('I', 'PRP'), ('ordered', 'VBD'), ('my', 'PRP$'), ('food', 'NN'), ('in', 'IN'), ('advance', 'NN'), ('and', 'CC'), ('arrived', 'VBD'), ('when', 'WRB'), ('they', 'PRP'), ('told', 'VBD'), ('me', 'PRP'), ('my', 'PRP$'), ('food', 'NN'), ('would', 'MD'), ('be', 'VB'), ('ready', 'JJ'), ('.', '.'), ('When', 'WRB'), ('I', 'PRP'), ('first', 'RB'), ('arrived', 'VBD'), ('at', 'IN'), ('the', 'DT'), ('drive', 'NN'), ('up', 'RP'), (',', ','), ('I', 'PRP'), ('was', 'VBD'), ('food', 'NN'), ('was', 'VBD'), ('still', 'RB'), ('being', 'VBG'), ('prepared-', 'JJ'), ('that', 'DT'), ("'s", 'VBZ'), ('fine', 'JJ'), (';', ':'), ('I', 'PRP'), ('did', 'VBD'), ("n't", 'RB'), ('mind', 'VB'), ('waiting', 'VBG'), ('a', 'DT'), ('few', 'JJ'), ('minutes', 'NNS'), ('.', '.'), ('I', 'PRP'), ('ended', 'VBD'), ('up', 'RB'), ('waiting', 'VBG'), ('10+', 'CD'), ('minutes', 'NNS'), ('at', 'IN'), ('the', 'DT'), ('window', 'NN'), ('.', '.'), ('Because', 'IN'), ('or', 'CC'), ('the', 'DT'), ('issue', 'NN'), (',', ','), ('I', 'PRP'), ('was', 'VBD'), ('given', 'VBN'), ('a', 'DT'), ('free', 'JJ'), ('cookie', 'NN'), ('.', '.'), ('All', 'DT'), ('of', 'IN'), ('this', 'DT'), ('to', 'TO'), ('say', 'VB'), (',', ','), ('the', 'DT'), ('food', 'NN'), ('is', 'VBZ'), ("n't", 'RB'), ('bad', 'JJ'), ('but', 'CC'), ('I', 'PRP'), ('would', 'MD'), ("n't", 'RB'), ('bet', 'VB'), ('on', 'IN'), ('your', 'PRP$'), ('food', 'NN'), ('being', 'VBG'), ('ready', 'JJ'), ('when', 'WRB'), ('you', 'PRP'), ('get', 'VBP'), ('there', 'RB'), ('!', '.')]
----
Grade A+ times 10. Staff was one of the best if my years traveling and staying at hotels. One of the cleanest and spacious rooms ever and if you leave some things home just go to the front desk and its free of charge.
[('Grade', 'NNP'), ('A+', 'NNP'), ('times', 'VBZ'), ('10', 'CD'), ('.', '.'), ('Staff', 'NNP'), ('was', 'VBD'), ('one', 'CD'), ('of', 'IN'), ('the', 'DT'), ('best', 'JJS'), ('if', 'IN'), ('my', 'PRP$'), ('years', 'NNS'), ('traveling', 'VBG'), ('and', 'CC'), ('staying', 'VBG'), ('at', 'IN'), ('hotels', 'NNS'), ('.', '.'), ('One', 'CD'), ('of', 'IN'), ('the', 'DT'), ('cleanest', 'NN'), ('and', 'CC'), ('spacious', 'JJ'), ('rooms', 'NNS'), ('ever', 'RB'), ('and', 'CC'), ('if', 'IN'), ('you', 'PRP'), ('leave', 'VBP'), ('some', 'DT'), ('things', 'NNS'), ('home', 'NN'), ('just', 'RB'), ('go', 'VB'), ('to', 'TO'), ('the', 'DT'), ('front', 'NN'), ('desk', 'NN'), ('and', 'CC'), ('its', 'PRP$'), ('free', 'JJ'), ('of', 'IN'), ('charge', 'NN'), ('.', '.')]
----
So very disappointed in Texas Roadhouse today. We may not ever be going back.

It's Mother's Day, so I called this morning to see if they would take a reservation. The gal on the phone said they do call ahead seating 2 hours in advance, so if we wanted to come at 5:30, call at 3:30.

3:30 rolls around and now we're being told they aren't taking seating for parties over 8 people. If we had been told that earlier, we could have made reservations elsewhere, but now we've been waiting around all day for this! Spoke to a manager who basically said 'I don't know what she told you that'

You shouldn't have people answering the phones on Mother's Day if they're not aware of the policies. They also said they couldn't accommodate us in any way. 'I can tryyyy but you'd probably be at two tables'

Now we're scrambling to find somewhere for Mother's Day and could not be more disappointed with the bad information from Texas Roadhouse.
[('So', 'RB'), ('very', 'RB'), ('disappointed', 'JJ'), ('in', 'IN'), ('Texas', 'NNP'), ('Roadhouse', 'NNP'), ('today', 'NN'), ('.', '.'), ('We', 'PRP'), ('may', 'MD'), ('not', 'RB'), ('ever', 'RB'), ('be', 'VB'), ('going', 'VBG'), ('back', 'RB'), ('.', '.'), ('It', 'PRP'), ("'s", 'VBZ'), ('Mother', 'NNP'), ("'s", 'POS'), ('Day', 'NNP'), (',', ','), ('so', 'IN'), ('I', 'PRP'), ('called', 'VBD'), ('this', 'DT'), ('morning', 'NN'), ('to', 'TO'), ('see', 'VB'), ('if', 'IN'), ('they', 'PRP'), ('would', 'MD'), ('take', 'VB'), ('a', 'DT'), ('reservation', 'NN'), ('.', '.'), ('The', 'DT'), ('gal', 'NN'), ('on', 'IN'), ('the', 'DT'), ('phone', 'NN'), ('said', 'VBD'), ('they', 'PRP'), ('do', 'VBP'), ('call', 'VB'), ('ahead', 'RB'), ('seating', 'VBG'), ('2', 'CD'), ('hours', 'NNS'), ('in', 'IN'), ('advance', 'NN'), (',', ','), ('so', 'RB'), ('if', 'IN'), ('we', 'PRP'), ('wanted', 'VBD'), ('to', 'TO'), ('come', 'VB'), ('at', 'IN'), ('5:30', 'CD'), (',', ','), ('call', 'NN'), ('at', 'IN'), ('3:30', 'CD'), ('.', '.'), ('3:30', 'CD'), ('rolls', 'NNS'), ('around', 'IN'), ('and', 'CC'), ('now', 'RB'), ('we', 'PRP'), ("'re", 'VBP'), ('being', 'VBG'), ('told', 'VBN'), ('they', 'PRP'), ('are', 'VBP'), ("n't", 'RB'), ('taking', 'VBG'), ('seating', 'VBG'), ('for', 'IN'), ('parties', 'NNS'), ('over', 'IN'), ('8', 'CD'), ('people', 'NNS'), ('.', '.'), ('If', 'IN'), ('we', 'PRP'), ('had', 'VBD'), ('been', 'VBN'), ('told', 'VBN'), ('that', 'IN'), ('earlier', 'JJR'), (',', ','), ('we', 'PRP'), ('could', 'MD'), ('have', 'VB'), ('made', 'VBN'), ('reservations', 'NNS'), ('elsewhere', 'RB'), (',', ','), ('but', 'CC'), ('now', 'RB'), ('we', 'PRP'), ("'ve", 'VBP'), ('been', 'VBN'), ('waiting', 'VBG'), ('around', 'IN'), ('all', 'DT'), ('day', 'NN'), ('for', 'IN'), ('this', 'DT'), ('!', '.'), ('Spoke', 'NNP'), ('to', 'TO'), ('a', 'DT'), ('manager', 'NN'), ('who', 'WP'), ('basically', 'RB'), ('said', 'VBD'), ("'", "''"), ('I', 'PRP'), ('do', 'VBP'), ("n't", 'RB'), ('know', 'VB'), ('what', 'WP'), ('she', 'PRP'), ('told', 'VBD'), ('you', 'PRP'), ("that'", 'VBP'), ('You', 'PRP'), ('should', 'MD'), ("n't", 'RB'), ('have', 'VB'), ('people', 'NNS'), ('answering', 'VBG'), ('the', 'DT'), ('phones', 'NNS'), ('on', 'IN'), ('Mother', 'NNP'), ("'s", 'POS'), ('Day', 'NNP'), ('if', 'IN'), ('they', 'PRP'), ("'re", 'VBP'), ('not', 'RB'), ('aware', 'JJ'), ('of', 'IN'), ('the', 'DT'), ('policies', 'NNS'), ('.', '.'), ('They', 'PRP'), ('also', 'RB'), ('said', 'VBD'), ('they', 'PRP'), ('could', 'MD'), ("n't", 'RB'), ('accommodate', 'VB'), ('us', 'PRP'), ('in', 'IN'), ('any', 'DT'), ('way', 'NN'), ('.', '.'), ("'", "''"), ('I', 'PRP'), ('can', 'MD'), ('tryyyy', 'VB'), ('but', 'CC'), ('you', 'PRP'), ("'d", 'MD'), ('probably', 'RB'), ('be', 'VB'), ('at', 'IN'), ('two', 'CD'), ("tables'", 'NNS'), ('Now', 'RB'), ('we', 'PRP'), ("'re", 'VBP'), ('scrambling', 'VBG'), ('to', 'TO'), ('find', 'VB'), ('somewhere', 'RB'), ('for', 'IN'), ('Mother', 'NNP'), ("'s", 'POS'), ('Day', 'NNP'), ('and', 'CC'), ('could', 'MD'), ('not', 'RB'), ('be', 'VB'), ('more', 'RBR'), ('disappointed', 'JJ'), ('with', 'IN'), ('the', 'DT'), ('bad', 'JJ'), ('information', 'NN'), ('from', 'IN'), ('Texas', 'NNP'), ('Roadhouse', 'NNP'), ('.', '.')]
----

## SpaCy

In [63]:
# spaCy
nlp = spacy.load("en_core_web_sm")

for i in range(5):
    doc = nlp(texts.iloc[i])

    for token in doc:
        print(token.text, token.pos_, end = " ")
    
    print("")
    print("----")

Love VERB this DET place NOUN ! PUNCT   SPACE Pizza PROPN is AUX awesome ADJ ! PUNCT     SPACE Wish VERB they PRON could AUX provide VERB the DET Ass PROPN Clown PROPN " PUNCT Orange PROPN Citrus PROPN " PUNCT beer NOUN on ADP a DET regular ADJ basis NOUN that DET is VERB on ADP their PRON menu NOUN . PUNCT   SPACE Great ADJ local ADJ beer NOUN ! PUNCT    SPACE The DET last ADJ times NOUN we PRON visited VERB it PRON was AUX not PART available ADJ . PUNCT
----
Amazing ADJ restaurant NOUN that DET I PRON ever ADV been VERB . PUNCT The DET meat NOUN and CCONJ the DET vegetables NOUN are AUX really ADV fresh ADJ . PUNCT The DET service NOUN was AUX really ADV nice ADJ and CCONJ patient ADJ since SCONJ this DET is VERB the DET first ADJ time NOUN I PRON went VERB there ADV and CCONJ he PRON introduced VERB so ADV many ADJ good ADJ stuffs NOUN . PUNCT The DET watermelon NOUN juice NOUN surprise VERB me PRON , PUNCT it PRON 's AUX soooooo ADJ good ADJ . PUNCT The DET meat NOUN quality NOUN is AUX good ADJ and CCONJ the DET service NOUN is VERB quick ADJ , PUNCT they PRON have VERB a DET wide ADJ selection NOUN of ADP the DET food NOUN . PUNCT I PRON was AUX also ADV very ADV   SPACE impressed ADJ with ADP the DET service NOUN , PUNCT he PRON checking VERB on ADP us PRON often ADV . PUNCT I PRON would AUX like VERB to PART go VERB to ADP this DET place NOUN again ADV and CCONJ again ADV and CCONJ I PRON really ADV love VERB it PRON ! PUNCT ! PUNCT
----
Perk PROPN - PUNCT Cup PROPN is AUX definitely ADV a DET convenient ADJ spot NOUN to PART drop VERB by ADP if SCONJ you PRON want VERB something PRON different ADJ or CCONJ healthy ADJ without ADP getting VERB out SCONJ of ADP your PRON car NOUN . PUNCT However ADV , PUNCT I PRON did AUX n't PART have VERB the DET best ADJ experience NOUN . PUNCT I PRON ordered VERB my PRON food NOUN in ADP advance NOUN and CCONJ arrived VERB when ADV they PRON told VERB me PRON my PRON food NOUN would AUX be VERB ready ADJ . PUNCT When ADV I PRON first ADV arrived VERB at ADP the DET drive NOUN up ADP , PUNCT I PRON was AUX food NOUN was AUX still ADV being VERB prepared- ADJ that DET 's AUX fine ADJ ; PUNCT I PRON did AUX n't PART mind VERB waiting VERB a DET few ADJ minutes NOUN . PUNCT I PRON ended VERB up ADP waiting VERB 10 NUM + NUM minutes NOUN at ADP the DET window NOUN . PUNCT Because SCONJ or CCONJ the DET issue NOUN , PUNCT I PRON was AUX given VERB a DET free ADJ cookie NOUN . PUNCT

 SPACE All DET of ADP this DET to PART say VERB , PUNCT the DET food NOUN is AUX n't PART bad ADJ but CCONJ I PRON would AUX n't PART bet VERB on ADP your PRON food NOUN being VERB ready ADJ when ADV you PRON get VERB there ADV ! PUNCT
----
Grade PROPN A+ PROPN times PROPN 10 NUM . PUNCT Staff NOUN was AUX one NUM of ADP the DET best ADJ if SCONJ my PRON years NOUN traveling VERB and CCONJ staying VERB at ADP hotels NOUN . PUNCT One NUM of ADP the DET cleanest ADJ and CCONJ spacious ADJ rooms NOUN ever ADV and CCONJ if SCONJ you PRON leave VERB some DET things NOUN home ADV just ADV go VERB to ADP the DET front ADJ desk NOUN and CCONJ its PRON free ADJ of ADP charge NOUN . PUNCT
----
So CCONJ very ADV disappointed ADJ in ADP Texas PROPN Roadhouse PROPN today NOUN . PUNCT We PRON may AUX not PART ever ADV be AUX going VERB back ADV . PUNCT

 SPACE It PRON 's AUX Mother PROPN 's PART Day PROPN , PUNCT so ADV I PRON called VERB this DET morning NOUN to PART see VERB if SCONJ they PRON would AUX take VERB a DET reservation NOUN . PUNCT The DET gal NOUN on ADP the DET phone NOUN said VERB they PRON do AUX call VERB ahead ADV seating VERB 2 NUM hours NOUN in ADP advance NOUN , PUNCT so CCONJ if SCONJ we PRON wanted VERB to PART come VERB at ADP 5:30 NUM , PUNCT call VERB at ADP 3:30 NUM . PUNCT

 SPACE 3:30 NUM rolls VERB around ADV and CCONJ now ADV we PRON 're AUX being AUX told VERB they PRON are AUX n't PART taking VERB seating NOUN for ADP parties NOUN over ADP 8 NUM people NOUN . PUNCT If SCONJ we PRON had AUX been AUX told VERB that SCONJ earlier ADV , PUNCT we PRON could AUX have AUX made VERB reservations NOUN elsewhere ADV , PUNCT but CCONJ now ADV we PRON 've AUX been AUX waiting VERB around ADV all DET day NOUN for ADP this DET ! PUNCT Spoke VERB to ADP a DET manager NOUN who PRON basically ADV said VERB ' PUNCT I PRON do AUX n't PART know VERB what PRON she PRON told VERB you PRON that SCONJ ' PUNCT

 SPACE You PRON should AUX n't PART have VERB people NOUN answering VERB the DET phones NOUN on ADP Mother PROPN 's PART Day NOUN if SCONJ they PRON 're VERB not PART aware ADJ of ADP the DET policies NOUN . PUNCT They PRON also ADV said VERB they PRON could AUX n't PART accommodate VERB us PRON in ADP any DET way NOUN . PUNCT ' PUNCT I PRON can AUX tryyyy VERB but CCONJ you PRON 'd AUX probably ADV be VERB at ADP two NUM tables NOUN ' PUNCT

 SPACE Now ADV we PRON 're AUX scrambling VERB to PART find VERB somewhere ADV for ADP Mother PROPN 's PART Day PROPN and CCONJ could AUX not PART be VERB more ADV disappointed ADJ with ADP the DET bad ADJ information NOUN from ADP Texas PROPN Roadhouse PROPN . PUNCT
----

# Noun-Adjective Pairs

In [177]:
import random
from collections import Counter
random.seed(448)
RANDOM_STATE = 0

In [178]:
one_star_df = df.loc[df['stars'] == 1.0]
dfs = dict(tuple(one_star_df.groupby('business_id')))
business_ids = df['business_id'].unique().tolist()
selected_ids = random.sample(business_ids, 50)

one_star_reviews = []
for id in selected_ids:
    one_star_review = dfs[id].sample(n = 1, random_state = RANDOM_STATE)
    one_star_reviews.append(one_star_review.iloc[0]["text"])

noun_adj_pairs = []

for i in range(len(one_star_reviews)):
    doc = nlp(one_star_reviews[i])
    for i,token in enumerate(doc):
        if token.pos_ not in ('NOUN','PROPN'):
            continue
        for j in range(i+1,len(doc)):
            if doc[j].pos_ == 'ADJ':
                noun_adj_pairs.append((token,doc[j]))
                break

out = []

for pairs in noun_adj_pairs:
    item_1 = pairs[0]
    item_2 = pairs[1]
    out.append((str(item_1), str(item_2)))

c = Counter(out)
c.most_common(10)

[(('food', 'good'), 6),
 (('place', 'several'), 5),
 (('alternator', 'bad'), 4),
 (('service', 'poor'), 3),
 (('year', 'old'), 3),
 (('drink', 'sure'), 3),
 (('sandwich', 'more'), 3),
 (('bar', 'cheap'), 3),
 (('BBQ', 'sweet'), 3),
 (('sauce', 'sweet'), 3)]

In [179]:
n_star_df = df.loc[df['stars'] == 2.0]
dfs = dict(tuple(n_star_df.groupby('business_id')))
business_ids = df['business_id'].unique().tolist()
selected_ids = random.sample(business_ids, 20)

one_star_reviews = []
for id in selected_ids:
    one_star_review = dfs[id].sample(n = 1, random_state = RANDOM_STATE)
    one_star_reviews.append(one_star_review.iloc[0]["text"])

noun_adj_pairs = []

for i in range(len(one_star_reviews)):
    doc = nlp(one_star_reviews[i])
    for i,token in enumerate(doc):
        if token.pos_ not in ('NOUN','PROPN'):
            continue
        for j in range(i+1,len(doc)):
            if doc[j].pos_ == 'ADJ':
                noun_adj_pairs.append((token,doc[j]))
                break
out = []

for pairs in noun_adj_pairs:
    item_1 = pairs[0]
    item_2 = pairs[1]
    out.append((str(item_1), str(item_2)))

c = Counter(out)
c.most_common(10)

[(('minutes', 'busy'), 4),
 (('minutes', 'front'), 3),
 (('bar', 'few'), 2),
 (('attention', 'few'), 2),
 (('time', 'other'), 2),
 (('food', 'good'), 2),
 (('salad', 'good'), 2),
 (('shrimp', 'cooked'), 2),
 (('cocktail', 'cooked'), 2),
 (('salad', 'ok'), 2)]

In [180]:
n_star_df = df.loc[df['stars'] == 3.0]
dfs = dict(tuple(n_star_df.groupby('business_id')))
business_ids = df['business_id'].unique().tolist()
selected_ids = random.sample(business_ids, 20)

one_star_reviews = []
for id in selected_ids:
    one_star_review = dfs[id].sample(n = 1, random_state = RANDOM_STATE)
    one_star_reviews.append(one_star_review.iloc[0]["text"])

noun_adj_pairs = []

for i in range(len(one_star_reviews)):
    doc = nlp(one_star_reviews[i])
    for i,token in enumerate(doc):
        if token.pos_ not in ('NOUN','PROPN'):
            continue
        for j in range(i+1,len(doc)):
            if doc[j].pos_ == 'ADJ':
                noun_adj_pairs.append((token,doc[j]))
                break
out = []

for pairs in noun_adj_pairs:
    item_1 = pairs[0]
    item_2 = pairs[1]
    out.append((str(item_1), str(item_2)))

c = Counter(out)
c.most_common(10)

[(('car', 'OCD'), 3),
 (('service', 'professional'), 2),
 (('guy', 'professional'), 2),
 (('guys', 'OCD'), 2),
 (('service', 'slow'), 2),
 (('sauce', 'falafel'), 2),
 (('lunch', 'same'), 2),
 (('food', 'reasonable'), 2),
 (('wings', 'reasonable'), 2),
 (('time', 'reasonable'), 2)]

In [181]:
n_star_df = df.loc[df['stars'] == 4.0]
dfs = dict(tuple(n_star_df.groupby('business_id')))
business_ids = df['business_id'].unique().tolist()
selected_ids = random.sample(business_ids, 20)

one_star_reviews = []
for id in selected_ids:
    one_star_review = dfs[id].sample(n = 1, random_state = RANDOM_STATE)
    one_star_reviews.append(one_star_review.iloc[0]["text"])

noun_adj_pairs = []

for i in range(len(one_star_reviews)):
    doc = nlp(one_star_reviews[i])
    for i,token in enumerate(doc):
        if token.pos_ not in ('NOUN','PROPN'):
            continue
        for j in range(i+1,len(doc)):
            if doc[j].pos_ == 'ADJ':
                noun_adj_pairs.append((token,doc[j]))
                break
out = []

for pairs in noun_adj_pairs:
    item_1 = pairs[0]
    item_2 = pairs[1]
    out.append((str(item_1), str(item_2)))

c = Counter(out)
c.most_common(10)

[(('staff', 'friendly'), 3),
 (('try', 'lovely'), 2),
 (('Wings', 'only'), 2),
 (('Lamb', 'best'), 2),
 (('Burger', 'best'), 2),
 (('Salmon', 'more'), 2),
 (('Boston', 'more'), 2),
 (('burger', 'thin'), 2),
 (('bit', 'good'), 2),
 (('pizza', 'few'), 2)]

In [182]:
n_star_df = df.loc[df['stars'] == 5.0]
dfs = dict(tuple(n_star_df.groupby('business_id')))
business_ids = df['business_id'].unique().tolist()
selected_ids = random.sample(business_ids, 20)

one_star_reviews = []
for id in selected_ids:
    one_star_review = dfs[id].sample(n = 1, random_state = RANDOM_STATE)
    one_star_reviews.append(one_star_review.iloc[0]["text"])

noun_adj_pairs = []

for i in range(len(one_star_reviews)):
    doc = nlp(one_star_reviews[i])
    for i,token in enumerate(doc):
        if token.pos_ not in ('NOUN','PROPN'):
            continue
        for j in range(i+1,len(doc)):
            if doc[j].pos_ == 'ADJ':
                noun_adj_pairs.append((token,doc[j]))
                break
out = []

for pairs in noun_adj_pairs:
    item_1 = pairs[0]
    item_2 = pairs[1]
    out.append((str(item_1), str(item_2)))

c = Counter(out)
c.most_common(10)

[(('Pancakes', 'nice'), 4),
 (('staff', 'friendly'), 3),
 (('COLD', 'Thick'), 3),
 (('Joe', 'upbeat'), 2),
 (('service', 'prepared'), 2),
 (('team', 'prepared'), 2),
 (('pool', 'prepared'), 2),
 (('bacon', 'nice'), 2),
 (('place', 'good'), 2),
 (('bill', 'new'), 2)]

In [183]:
from itertools import chain
one_star_reviews = ["food amazing food amazing"]

noun_adj_pairs = []

for i in range(len(one_star_reviews)):
    doc = nlp(one_star_reviews[i])
    for i,token in enumerate(doc):
        if token.pos_ not in ('NOUN','PROPN'):
            continue
        for j in range(i+1,len(doc)):
            if doc[j].pos_ == 'ADJ':
                noun_adj_pairs.append((token,doc[j]))
                break

out = []

for pairs in noun_adj_pairs:
    item_1 = pairs[0]
    item_2 = pairs[1]
    out.append((str(item_1), str(item_2)))

print(out)

c = Counter(out)
c

[('food', 'amazing'), ('food', 'amazing')]

Counter({('food', 'amazing'): 2})

## SpaCy

In [19]:
from spacy.lang.en import English

In [20]:
nlp = English()

In [21]:
df = df_raw.copy()

In [22]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: [i.text for i in nlp(x)])
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  9.867114067077637

In [23]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[We, had, my, Mother, 's, Birthday, Party, her..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[Good, Korean, grill, near, Eaton, Centre, ., ..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[Was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[Ambience, :, Would, not, expect, something, t..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[Absolutely, the, WORST, pool, company, that, ..."

In [24]:
df.to_csv('../Results/Tokenize_spacy.csv', index=False)

## Keras

In [25]:
from keras.preprocessing.text import text_to_word_sequence

In [26]:
df = df_raw.copy()

In [27]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: text_to_word_sequence(x))
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  0.6085107326507568

In [28]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[we, had, my, mother's, birthday, party, here,..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[good, korean, grill, near, eaton, centre, the..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[ambience, would, not, expect, something, this..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[absolutely, the, worst, pool, company, that, ..."

In [29]:
df.to_csv('../Results/Tokenize_keras.csv', index=False)

## Gensim

In [30]:
from gensim.utils import tokenize

In [31]:
df = df_raw.copy()

In [32]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: [i for i in tokenize(x)])
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  2.2377827167510986

In [33]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[We, had, my, Mother, s, Birthday, Party, here..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[Good, Korean, grill, near, Eaton, Centre, The..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[Was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[Ambience, Would, not, expect, something, this..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[Absolutely, the, WORST, pool, company, that, ..."

In [34]:
df.to_csv('../Results/Tokenize_gensim.csv', index=False)