In [1]:
import pandas as pd

In [2]:
import time

In [3]:
df_raw = pd.read_csv('../Data/review.csv')

In [4]:
df_raw.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11

## Tokenization using split

In [5]:
df = df_raw.copy()

In [6]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: x.split())
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  0.3335907459259033

In [7]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[We, had, my, Mother's, Birthday, Party, here,..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[Good, Korean, grill, near, Eaton, Centre., Th..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[Was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[Ambience:, Would, not, expect, something, thi..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[Absolutely, the, WORST, pool, company, that, ..."

In [8]:
df.to_csv('../Results/Tokenize_split.csv', index=False)

## Regex

In [9]:
import re

In [10]:
df = df_raw.copy()

In [11]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: re.findall("[\w']+", x))
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  0.6421365737915039

In [12]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[We, had, my, Mother's, Birthday, Party, here,..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[Good, Korean, grill, near, Eaton, Centre, The..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[Was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[Ambience, Would, not, expect, something, this..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[Absolutely, the, WORST, pool, company, that, ..."

In [13]:
df.to_csv('../Results/Tokenize_regex.csv', index=False)

## NLTK

In [14]:
from nltk.tokenize import word_tokenize

In [15]:
df = df_raw.copy()

In [16]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: word_tokenize(x))
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  20.35232663154602

In [17]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[We, had, my, Mother, 's, Birthday, Party, her..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[Good, Korean, grill, near, Eaton, Centre, ., ..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[Was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[Ambience, :, Would, not, expect, something, t..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[Absolutely, the, WORST, pool, company, that, ..."

In [18]:
df.to_csv('../Results/Tokenize_nltk.csv', index=False)

## SpaCy

In [19]:
from spacy.lang.en import English

In [20]:
nlp = English()

In [21]:
df = df_raw.copy()

In [22]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: [i.text for i in nlp(x)])
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  9.867114067077637

In [23]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[We, had, my, Mother, 's, Birthday, Party, her..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[Good, Korean, grill, near, Eaton, Centre, ., ..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[Was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[Ambience, :, Would, not, expect, something, t..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[Absolutely, the, WORST, pool, company, that, ..."

In [24]:
df.to_csv('../Results/Tokenize_spacy.csv', index=False)

## Keras

In [25]:
from keras.preprocessing.text import text_to_word_sequence

In [26]:
df = df_raw.copy()

In [27]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: text_to_word_sequence(x))
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  0.6085107326507568

In [28]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[we, had, my, mother's, birthday, party, here,..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[good, korean, grill, near, eaton, centre, the..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[ambience, would, not, expect, something, this..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[absolutely, the, worst, pool, company, that, ..."

In [29]:
df.to_csv('../Results/Tokenize_keras.csv', index=False)

## Gensim

In [30]:
from gensim.utils import tokenize

In [31]:
df = df_raw.copy()

In [32]:
t0 = time.time()
df['Tokenized words'] = df['text'].apply(lambda x: [i for i in tokenize(x)])
t1 = time.time()
print("Time Taken : ", t1-t0)

Time Taken :  2.2377827167510986

In [33]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,Tokenized words
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5.0,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25,"[We, had, my, Mother, s, Birthday, Party, here..."
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4.0,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43,"[Good, Korean, grill, near, Eaton, Centre, The..."
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5.0,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15,"[Was, recommended, to, try, this, place, by, f..."
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3.0,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26,"[Ambience, Would, not, expect, something, this..."
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1.0,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11,"[Absolutely, the, WORST, pool, company, that, ..."

In [34]:
df.to_csv('../Results/Tokenize_gensim.csv', index=False)